---
import BaseHead from "../../components/BaseHead.astro";
import MainHeader from "../../components/MainHeader.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../../consts";
import Main from "../../components/Main.astro";
import { getCollection } from "astro:content";
import FormattedDate from "src/components/FormattedDate.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<html lang="de">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION_SHORT}
      image={"icons/favicon-96x96.png"}
      type={"website"}
    />
    <meta name="robots" content="noindex" />
  </head>
  <body data-pagefind-ignore>
    <style>
      ul {
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */
      }
      #tag-list {
        margin-left: 6px;
      }
    </style>
    <MainHeader />
    <Main class="">
      <div class="wrapper">
        <div class="container">
          <h1>#{tag}</h1>
          <div id="tag-list">
            <ul>
              {
                posts.map((post) => (
                  <li>
                    <a href={`/blog/${post.slug}/`}>
                      <>
                        <FormattedDate date={post.data.pubDate} />
                        <span> - </span>
                      </>
                      {post.data.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </Main>
    <Footer />
  </body>
</html>
