---
import BlogPostCard from "../components/BlogPostCard.astro";
import BreakingNewsTicker from "../components/BreakingNewsTicker.astro";
import Footer from "../components/Footer.astro";
import LatestBlogpostCard from "../components/LatestBlogpostCard.astro";
import RandomBlogpost from "../components/RandomBlogpost.astro";
import Searchbox from "../components/Searchbox.astro";
import GlobalImports from "./../components/GlobalImports.astro";
import MetaImports from "./../components/MetaImports.astro";
import NavigationBar from "./../components/NavigationBar.astro";
import { SITE_TITLE, SITE_DESCRIPTION_SHORT } from "../consts";

import { getCollection } from "astro:content";
import Ufo from "../components/Ufo.astro";

const posts = (await getCollection("blog"))
  .filter((e) => !e.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const latestPost = posts[0];
const latestThreePosts = [posts[1], posts[2], posts[3]];
---

<html lang="de">
  <head>
    <GlobalImports />
    <MetaImports
      title={SITE_TITLE}
      description={SITE_DESCRIPTION_SHORT}
      type={"website"}
    />
  </head>
  <body data-pagefind-ignore>
    <NavigationBar isStartPage={true} />
    <div class="wrapper" id="main">
      <div class="" id="breaking-news-block">
        <BreakingNewsTicker />
      </div>
      <div id="searchbox-block" class="shadow border-radius">
        <Searchbox />
      </div>
      <div id="blogposts">
        <div id="latest-blogpost-block" class="">
          <h2>Latest Blogpost</h2>
          <LatestBlogpostCard latestPost={latestPost} />
        </div>
        <div class="">
          <div id="random-blogpost-block" class="">
            <h2>Random Blogpost</h2>
            <div class="container">
              <RandomBlogpost />
            </div>
          </div>

          <div id="latest-blogposts-block">
            <h2>Latest 3 Blogposts</h2>
            {
              latestThreePosts.map((a) => (
                <div class="container latest-blogpost-container">
                  <div class="">
                    <BlogPostCard blogpost={a} classlist="" />
                  </div>
                </div>
              ))
            }
            <div class="container">
              <a class="link-button border-radius shadow" href="/blog/1">
                <span>Mehr</span><Ufo size="L" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
    <style>
      #main {
        container-name: main-container;
        container-type: inline-size;
        height: 100%;
      }
      #breaking-news-block {
        margin: 1rem;
      }
      #searchbox-block {
        padding: 1rem;
        margin: 1rem;
      }
      #blogposts {
        padding: 1rem;
        display: grid;
        justify-content: space-between;
      }
      #random-blogpost-block {
        margin: 0 0 3rem 0;
      }
      .latest-blogpost-container {
        margin-bottom: 1rem;
      }

      .link-button {
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
        text-decoration: none;
        height: 4rem;
        cursor: pointer;
      }
      h2 {
        font-size: clamp(1.4rem, 3vw, 2.5rem);
        padding: 0 1rem;
        /* text-align: left; */
        margin-bottom: 1rem;
      }
      #latest-blogpost-block {
        margin: 0 0 2rem 0;
      }
      @container main-container (width >= 950px) {
        #blogposts {
          grid-template-columns: 50% 50%;
          gap: 1rem;
        }
      }
      @container main-container (width < 950px) and (width >= 600px) {
        #blogposts {
          grid-template-columns: 60% 40%;
          gap: 1rem;
        }
      }
      @container main-container (width < 600px) {
        #blogposts {
          padding: 1rem 0;
        }
        #latest-blogpost-block {
          padding: 0 1rem;
        }
      }
    </style>
  </body>
</html>
