---
import "../styles/global.css";
import "../styles/grid.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  type?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image, type = "website" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{
  image && (
    <meta
      property="og:image"
      data-pagefind-default-meta="image[content]"
      content={canonicalURL.origin + "/" + image}
    />
  )
}
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

<!-- Twitter -->
<meta property="twitter:creator" content="Harry Kramer" />
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image:alt" content={description} />
{
  image && (
    <meta
      property="twitter:image"
      content={canonicalURL.origin + "/" + image}
    />
  )
}

<!-- icons -->
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/icons/mstile-150x150.png" } />
<meta name="theme-color" content="#ffffff" />
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/icons/android-chrome-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="/icons/android-chrome-512x512.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/icons/favicon-16x16.png"
/>
<link rel="apple-touch-icon" href="/icons/apple-touch.png" />
<link rel="manifest" href="/manifest.webmanifest" />
<!-- Matomo -->
<script is:inline>
var _paq = (window._paq = window._paq || []);
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(["trackPageView"]);
_paq.push(["enableLinkTracking"]);
(function () {
  var u = "//analytics.harry-kramer.net/";
  _paq.push(["setTrackerUrl", u + "matomo.php"]);
  _paq.push(["setSiteId", "1"]);
  var d = document,
    g = d.createElement("script"),
    s = d.getElementsByTagName("script")[0];
  g.async = true;
  g.src = u + "matomo.js";
  s.parentNode?.insertBefore(g, s);
})();
</script>
<!-- End Matomo Code -->
