---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, blogPostImage, previewImage } =
  Astro.props;
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} image={blogPostImage} />
    <style>
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
      .blog-post-img-container {
        width: 100%;
        max-width: 450px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      article {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
      }
      article h1 {
        margin-bottom: 4px;
      }
    </style>
    {
      previewImage && (
        <meta
          property="og:image"
          content={"https://www.harry-kramer.net/images/blog/" + previewImage}
        />
      )
    }
  </head>

  <body>
    <Header />
    <main>
      <article>
        <h1 class="title"><FormattedDate date={pubDate} /> - {description}</h1>
        {
          blogPostImage && (
            <div class="blog-post-img-container">
              <img src={"/images/blog/" + blogPostImage} alt={blogPostImage} />
            </div>
          )
        }
        <div class="blog-post-date"></div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
