---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import MainHeader from "../components/MainHeader.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Main from "../components/Main.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, blogPostImage, previewImage, tags } =
  Astro.props;
---

<html lang="de">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={"images/blog/" + previewImage}
      type={"article"}
    />
    <style>
      .blog-post-img-container {
        width: 100%;
        max-width: 450px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      article {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        word-wrap: break-word;
      }
      article h2 {
        margin-bottom: 10px;
      }
      /* @media (max-width: 601px) {
        article h2 {
          font-size: 1.5rem;
        }
        article {
          margin-top: 6rem;
        }
      } */
      #publication-date {
        font-size: larger;
        color: seagreen;
        font-weight: bold;
        font-style: italic;
      }
      main {
        padding-left: 10px;
        padding-right: 10px;
      }
      #main-content {
        font-size: 1.25rem;
      }
    </style>
  </head>

  <body>
    <MainHeader />
    <Main>
      <article>
        <h2 class="title container">{description}</h2>
        <span id="publication-date"><FormattedDate date={pubDate} /></span>
        {
          blogPostImage && (
            <div class="blog-post-img-container">
              <img src={"/images/blog/" + blogPostImage} alt={blogPostImage} />
            </div>
          )
        }
        <p class="">
          {
            tags &&
              tags.map((tag) => (
                <a href={`/tags/${tag}`} class="link-tag text-dark">
                  #{tag}
                </a>
              ))
          }
        </p>
        <section id="main-content">
          <slot />
        </section>
      </article>
    </Main>
    <Footer />
  </body>
</html>
