---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import MainHeader from "../components/MainHeader.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Main from "../components/Main.astro";
import LeftAside from "../components/BlogPost/Left.astro";
import Comments from "../components/BlogPost/Comments.astro";

type Props = CollectionEntry<"blog">["data"];
const pathSegments = Astro.request.url.split("/");
const blogPostIdentifier = pathSegments.at(pathSegments.length - 2);
const { id, title, description, headline, pubDate, postImage, place, tags } =
  Astro.props;
const headImage = postImage?.thumbnail ?? postImage?.prevSrc;
---

<html lang="de">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={headImage}
      type={"article"}
    />
    <style>
      .blog-post-img-container {
        width: 100%;
        max-width: 450px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
      article {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        word-wrap: break-word;
        padding-bottom: 20px;
      }
      article h2 {
        margin-bottom: 10px;
      }
      #publication-date {
        font-size: 1.25rem;
        color: var(--element-water-dark);
        font-weight: bold;
        font-style: italic;
      }
      #place {
        font-size: 1rem;
        color: var(--element-water-darker);
      }
      #main-content {
        font-size: 1.25rem;
      }
      /* Style page content */
      #blogpost-container {
        margin-left: 40px; /* Same as the width of the sidebar */
        padding: 0px 10px;
      }
      .link-tag {
        color: var(--element-water-dark);
      }
    </style>
    <style is:inline>
      #main-content p {
        margin-bottom: 24px;
      }
    </style>
  </head>
  <body>
    <MainHeader />
    <Main>
      <span hidden id="blog-post-identifier">{blogPostIdentifier}</span>
      <span hidden id="blog-post-id"></span>
      <LeftAside />
      <article id="blogpost-container">
        <h1 class="title container" id="title">{headline}</h1>
        <span id="publication-date"><FormattedDate date={pubDate} /></span>
        {
          place && (
            <>
              <br />
              <span id="place">{place}</span>
            </>
          )
        }
        {
          postImage && (
            <div class="blog-post-img-container">
              <img hidden src={postImage.prevSrc} alt={postImage.alt} />
              <img
                src={postImage.src}
                alt={postImage.alt}
                data-pagefind-index-attrs="alt"
              />
            </div>
          )
        }
        <div class="panel">
          {
            tags &&
              tags.map((tag) => (
                <a href={`/tags/${tag}`} class="link-tag">
                  #{tag}
                </a>
              ))
          }
        </div>
        <section id="main-content">
          <slot />
        </section>
        <div id="comment-form-container" style="margin-top:20px">
          <h3>Kommentar hinzufügen</h3>
          <div id="new-comment-form"></div>
        </div>
        <Comments />
      </article>
    </Main>

    <style is:inline></style>
    <script>
      import {
        loadBlogpost,
        createBlogpost,
      } from "../features/blogpost/blogpost-service";

      import { createCommentForm } from "../features/comments/commentForm";
      import { createCommentsBox } from "../features/comments/commentsBlock";

      import { loadLikes, submitLike } from "../features/like/like-service";

      setTimeout(async () => {
        const blogPostIdentifier = document.querySelector(
          "#blog-post-identifier"
        ).innerText;
        loadBlogpost(blogPostIdentifier).then(async (blogPost) => {
          if (blogPost) {
            document.querySelector("#blog-post-id").innerText = blogPost.id;
          } else {
            const newId = await createBlogpost(blogPostIdentifier);
            document.querySelector("#blog-post-id").innerText = newId;
          }
          let blogPostId = document.querySelector("#blog-post-id").innerText;
          loadLikes(blogPostId);
          document
            .querySelector("#like-btn")
            .addEventListener("click", async () => {
              const newLikeCount = await submitLike(blogPostId);
              document.querySelector("#like-counter").innerText = newLikeCount;
            });

          const parent = document.querySelector("#comment-form-container");

          parent && createCommentForm(parent, blogPostId);

          createCommentsBox(blogPostId);
        });
      }, 500);
    </script>
    <Footer />
  </body>
</html>
